<h1>Don't do it!</h1>
<br>
<h2>Create a new player</h2>
<% if @player.errors.any? %>
    <h2> Save error </h2>
    <ul>
        <% @player.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
<%= form_with scope: :player, url: players_path, local:true do |f|%>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :room_name %>
        <%= f.text_field :room_name %>
    </p>
    <p><small>Type in the room you want to join. Leave it blank to create a new room.</p>
    <p>
        <%= f.submit %>
    </p>
<% end %>
<br>
<h2> Game rule:</h2>
<p>1. Create a player for yourself and create a new room by leave the room field empty.</p>
<p>2. Other players join the room by type in the room name which appears on the top of the screen once created.</p>
<p>3. On players screen, you can see remaining lives and others prohibited actions but not your own.</p>
<p>4. Start the game. Try to let other players do their prohibited action.</p>
<p>5. A player should react reasonably on others action. No response or no reaction which making the game boring is prohibited. </p>
<p>6. Those who did their prohibited action will lose one live by pressing "I lost". The player will be assigned a new prohibited action. </p>
<p>7. Other players reload the page to check the new prohibited action.</p>
<p>8. The first player lost all their lives is the loser and will recieve a punishment. Decide punishments with your group.</p>
<p>9. Have fun!</p>